.title-content {
  margin-top: 10%;
  line-height: 0.5;
}
.titule {
  font-size: 3rem;
  color: white;
}
.subtitle {
  font-size: 3rem;
}
.titule::selection {
  background-color: #2b3e63;
}
.subtitle::selection {
  background-color: #2b3e63;
}
.read-the-docs::selection {
  background-color: #2b3e63;
}
.read-the-docs,
.subtitle {
  color: #acacac;
  font-size: 3rem;
}

@media (max-width: 480px) {
  .title-content {
    margin-top: 50%;
    line-height: 1;
  }
  .titule {
    font-size: 2.5rem;
    color: white;
  }
  .read-the-docs,
  .subtitle {
    font-size: 2.5rem;
  }
}
