@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFMonoBold";
  src: url(../../public/fonts/SFMonoBold.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body,
html {
  overflow: hidden;
}
@media (min-width: 1280px) {
  .content {
    line-height: 0.5;
    overflow-x: hidden;
    height: 100vh;
    box-shadow: 0px -10px 0px 0px rgba(240, 248, 255, 0.076);
  }
  .title {
    margin-top: 12%;
    font-size: 3rem;
    color: white;
    font-family: "SFMonoBold";
  }
  .animation,
  .animation_layer {
    width: 100%;
    overflow-x: hidden;
  }

  .animation {
    display: block;
    position: relative;
    z-index: 10;
    cursor: default;
  }

  .animation_layer {
    background-repeat: repeat-x;
    width: 100%;
    height: auto;
    position: absolute;
  }

  .animation_layer.parallax {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  #content-1 {
    background: linear-gradient(to right, #4c90e5, #3ebdc2);
    width: 100vw;
    height: 100vh;
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #content-2 {
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    align-items: flex-end;
  }
  #intro-content {
    border: 1px solid black;
    height: fit-content;
    padding: 1rem;
    line-height: 15px;
  }
  #title-content #welcome-content {
    border: 1px solid black;
    width: fit-content;
    font-family: "Poppins";
    padding: 5px;
  }
}

.img {
  position: relative;
  top: 30%;
  left: 30%;
  scale: 20%;
  margin: 0 auto;
  border: 2px solid gray;
}

#astro {
}

@media (max-width: 480px) {
  .title-content {
    margin-top: 50%;
    line-height: 1;
    overflow-x: hidden;
  }
  .titule {
    font-size: 2.5rem;
    color: white;
  }
  .read-the-docs,
  .subtitle {
    font-size: 2.5rem;
  }
}
