#root {
  margin: 0;
  user-select: text;
  cursor: text;
  word-break: keep-all;
  word-wrap: break-word;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media (max-width: 480px) {
}
