@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFMonoBold";
  src: url(/fonts/SFMonoBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  box-sizing: border-box;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --fz-xs: 20px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --dark-slate: #495670;
  --font-poppins: "Poppins";
  --font-sfmonobold: "SFMonoBold";
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
