@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins/Poppins-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFMonoBold";
  src: url(/fonts/SF/SFMonoBold.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFMonoRegular";
  src: url(/fonts/SF/SFMonoRegular.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  box-sizing: border-box;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --fz-xs: 20px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --dark-slate: #495670;
  --font-Poppins: "Poppins";
  --font-SFMonoBold: "SFMonoBold";
  --font-SFMonoRegular: "SFMonoRegular";
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #19232756 #121212;
  scroll-behavior: smooth;
}
